:root {
    --main-color: #7B0504;
    --button-color: #4d97bf;
    --button-hover: #1851a7;
}

body {
    background-color: var(--main-color);
    margin: 0;
}

header {
    text-align: center;
}

h1.header {
    font-family: 'black';
    font-size: 5vw;
    color: white;
    appearance: none;
    margin-bottom: 0;
}

a.header {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

a.header:hover {
    color: var(--button-color);
}

p.header {
    font-family: 'black';
    font-size: 2vw;
    color: white;
    letter-spacing: 2px;
    margin-top: 0;
}

footer {
    width: 80%;
    margin: auto;
    background-color: white;
    position: fixed;
    bottom: 16px;
    left: 10%;
    border: hidden;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p.footer {
    text-align: center;
    font-family: 'medium';
    font-size: 24px;
    margin: 0;
}

h1 {
    font-family: 'black';
    font-size: 32px;
}

p {
    font-family: 'medium';
    font-size: 24px;
    word-wrap: break-word;
}

a {
    color: var(--button-color);
    transition: 0.5s;
}

a:hover {
    color: var(--button-hover);
}

ul {
    text-align: left;
}

li {
    font-family: 'medium';
    font-size: 24px;
}

article {
    width: 50%;
    margin: auto;
}

section {
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 16px;
    border: hidden;
    border-radius: 16px;
    margin-bottom: 10vh;
}