:root {
    --main-color: #7B0504;
    --button-color: #4d97bf;
    --button-hover: #1851a7;

    --shadow: drop-shadow(0 0 10px #313131);
}

main {
    margin-bottom: 9vh;
}

body {
    background-color: var(--main-color);
    margin: 0;
}

header {
    text-align: center;
}

h1.header {
    font-family: 'black';
    font-size: 8vw;
    color: white;
    appearance: none;
    margin-bottom: 2vh;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

a.header {
    color: white;
    text-decoration: none;
    transition: 0.5s;

    margin-left: 3vw;

    -webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

a.header:hover {
    color: var(--button-color);

}

a.header:active {
    color: var(--button-hover);
}

img.header {
    cursor: pointer;
    padding: 16px;
    border: hidden;
    border-radius: 16px;
    transition: 0.5s;
}

img.header:hover {
    background-color: white;
}

p.header {
    font-family: 'black';
    font-size: 2vw;
    color: white;
    letter-spacing: 2px;
    margin-top: 0;
}

nav {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #31313131;
}

div#nav {
    width: 50%;
    height: 80%;
    margin: 10% auto;
    background-color: white;
    border: hidden;
    border-radius: 16px;
}

h1.nav {
    margin-top: 16px;
    text-align: center;
    font-size: 64px;
}

footer {
    width: 80%;
    margin: auto;
    background-color: white;
    position: fixed;
    bottom: 16px;
    left: 10%;
    border: hidden;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    filter: var(--shadow);
}

p.footer {
    text-align: center;
    font-family: 'medium';
    font-size: 24px;
    margin: 0;
}

h1 {
    font-family: 'black';
    font-size: 32px;
}

p {
    font-family: 'medium';
    font-size: 24px;
    word-wrap: break-word;
}

a {
    color: var(--button-color);
    transition: 0.5s;
}

a:hover {
    color: var(--button-hover);
}

ul {
    text-align: left;
}

li {
    font-family: 'medium';
    font-size: 24px;
}

article {
    width: 50%;
    margin: auto;
}

section {
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 16px;
    border: hidden;
    border-radius: 16px;
    margin-bottom: 1vh;
    filter: var(--shadow)
}