div.container {
    width: 50%;
    margin: auto;
    margin-bottom: 16px;
    padding: 16px;
    background-color: var(--accent-light);
    border-radius: 16px;
    filter: var(--shadow);
}

div#sentence-input {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

input#sentence {
    width: 80%;
    justify-self: stretch;
    outline: none;
    padding: 4px;
    background-color: var(--accent-light);
    border: solid var(--accent-dark);
    border-radius: 8px;
    font-family: 'medium';
    font-size: 24px;
}

input#sentence:focus {
    background-color: var(--background-color);
    border-color: var(--background-color);
}

/* Responsive */

@media only screen and (max-width: 1200px) {
    div#sentence-input {
        width: 80vw;
    }
}