@font-face {
    font-family: 'black';
    src:
        local('Burbank Big Condensed Black'),
        url('../assets/black.otf')
}

@font-face {
    font-family: 'medium';
    src:
        local('Burbank Big Condensed Medium'),
        url('../assets/medium.otf')
}

:root {
    --main-color: #7B0504;
    --button-color: #4d97bf;
    --button-hover: #1851a7;
}

body {
    background-color: var(--main-color);
}

h1.header {
    font-family: 'black';
    font-size: 5vw;
    color: white;
}

p.header {
    font-family: 'black';
    font-size: 2vw;
    color: white;
    letter-spacing: 2px;
}

div#buttons {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

main {
    text-align: center;
}

button.sound-button {
    background-color: var(--button-color);
    color: white;
    font-family: 'medium';
    font-size: 24px;
    padding: 16px;
    border: hidden;
    border-radius: 8px;
    outline: none;
    margin: 8px;
    transition: 0.5s;
}

button.sound-button:hover {
    transform: scale(1.2);
    background-color: var(--button-hover);
}

button.sound-button:active {
    background-color: white;
    color: var(--button-hover)
}