@font-face {
    font-family: 'black';
    src:
        local('Burbank Big Condensed Black'),
        url('../assets/black.otf')
}

@font-face {
    font-family: 'medium';
    src:
        local('Burbank Big Condensed Medium'),
        url('../assets/medium.otf')
}



:root {
    --main-color: #7B0504;
    --button-color: #4d97bf;
    --button-hover: #1851a7;
}

body {
    background-color: var(--main-color);
    margin: 0;
}

header {
    text-align: center;
}

h1.header {
    font-family: 'black';
    font-size: 5vw;
    color: white;
    appearance: none;
    margin-bottom: 0;
}

a.header {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

a.header:hover {
    color: var(--button-color);
}

p.header {
    font-family: 'black';
    font-size: 2vw;
    color: white;
    letter-spacing: 2px;
    margin-top: 0;
}

footer {
    width: 80%;
    margin: auto;
    background-color: white;
    position: fixed;
    bottom: 16px;
    left: 10%;
    border: hidden;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p.footer {
    text-align: center;
    font-family: 'medium';
    font-size: 24px;
    margin: 0;
}

div#controls {
    width: 50%;
    margin: auto;
    margin-bottom: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
}

div.controller {
    background-color: var(--button-color);
    padding: 16px;
    width: min-content;
    border: hidden;
    border-radius: 8px;
    font-family: 'medium';
    font-size: 24px;
}

div#buttons {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div#info {
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 16px;
    border: hidden;
    border-radius: 16px;
}

h1.info {
    font-family: 'black';
}

p.info {
    font-family: 'medium';
    font-size: 24px;
    word-wrap: break-word;
}

ul.info {
    text-align: left;
}

li.info {
    font-family: 'medium';
    font-size: 24px;
}

article.info {
    width: 50%;
    margin: auto;
}

button.sound-button {
    background-color: var(--button-color);
    color: white;
    font-family: 'medium';
    font-size: 1.5vw;
    padding: 16px;
    border: hidden;
    border-radius: 8px;
    outline: none;
    margin: 8px;
    transition: 0.5s;
}

button.sound-button:hover {
    transform: scale(1.2);
    background-color: var(--button-hover);
}

button.sound-button:active {
    background-color: white;
    color: var(--button-hover)
}

@media only screen and (max-width: 1000px) {
    header {
        text-align: center;
    }
    
    h1.header {
        font-size: 60px;
    }

    p.header {
        font-size: 30px;
    }

    button.sound-button {
        font-size: 24px;
    }

    div#buttons {
        margin-bottom: 128px;
    }

    article.info {
        width: 100%;
    }

    p.info {
        overflow-wrap: normal;
    }
    
    div#info {
        padding: 1%;
        width: 98%;
    }

    footer {
        padding: 1%;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 98%;
        left: 0;
        display: table-column;
    }
}