<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Be4stBoard</title>
    <link rel="stylesheet" href="_general_page_styling">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://be4stboard.thijsboom.com">
    <meta property="og:title" content="Be4stBoard">
    <meta property="og:description" content="The original Be4stSie Soundboard!">
    <meta property="og:image" content="https://be4stboard.thijsboom.com/assets/images/banner.png">

    <script defer src="scripts/menu.js"></script>
</head>
<body>
    <header>
        <h1 class="header"><a class="header" id="menu-open">Be4stBoard</a></h1>
        <p class="header">The Original Be4stSie Soundboard!</p>
    </header>

    <nav id="menu" class="closed">
        <div id="nav">
            <h1 class="nav"><a class="nav" href="index.html">Menu</a></h1>
            <ul class="nav">
                <li><a href="index.html">Board</a> - The soundboard</li>
                <li><a href="sources.html">Sources</a> - Find the sources of the sounds and some statistics!</li>
                <li><a href="request.html">Request</a> - Request a sound yourself!</li>
                <li><a href="about.html">About</a> - About and info page</li>
            </ul>
            <button class="nav" id="menu-close">Close</button>
        </div>
    </nav>

    <main>
        {{content}}
    </main>

    <footer>
        <p class="footer">This app was made by <a href="https://thijsboom.com">Thijs Boom</a>!</p>
        <p class="footer">Find more info <a href="about.html">here</a>!</p>
        <p class="footer">Find the source code <a href="https://github.com/twboom/be4stboard">here</a>!</p>
    </footer>
</body>
</html>