<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} | Be4stBoard</title>
    <link rel="stylesheet" href="_general_page_styling">
</head>
<body>
    <header>
        <h1 class="header"><a class="header" id="menu-open">Be4stBoard</a></h1>
        <p class="header">The Original Be4stSie Soundboard!</p>
    </header>

    <main>
        {{content}}
    </main>

    <footer>
        <p class="footer">This app was made by <a href="https://thijsboom.com">Thijs Boom</a>!</p>
        <p class="footer">Find more info <a href="about.html">here</a>!</p>
        <p class="footer">Find the source code <a href="https://github.com/twboom/be4stboard">here</a>!</p>
    </footer>
</body>
</html>