@font-face { /* Thick, bold font (title) */
    font-family: 'black';
    src:
        local('Burbank Big Condensed Black'),
        url('../fonts/black.otf')
}

@font-face { /* 'Normal', medium font (text) */
    font-family: 'medium';
    src:
        local('Burbank Big Condensed Medium'),
        url('../fonts/medium.otf')
}