nav {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #00000070;
    backdrop-filter: blur(10px);
}

nav.closed {
    display: none;
}

nav.open {
    display: block;
}

div#nav {
    width: 50%;
    margin: 5% auto;
    padding: 4px;
    background-color: var(--background-color);
    border: hidden;
    border-radius: 16px;
    transition: background-color 1s;
}

h1.nav {
    margin-top: 16px;
    text-align: center;
    font-size: 64px;
}

a.nav {
    color: var(--text-color);
    text-decoration: none;
}

a.nav:hover {
    color: var(--accent-light);
}

a.nav:active {
    color: var(--accent-dark)
}

div.nav,
ul.nav
{
    width: 50%;
    margin: 5% auto;
}

button#menu-close {
    background-color: var(--main-color);
    font-family: 'medium';
    font-size: 24px;
    color: white;
    outline: none;
    border: hidden;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 64px;
    margin-bottom: 1vh;
    transition: background-color 0.5s;
}

button#menu-close:hover {
    background-color: red;
}