h1 {
    font-family: 'black';
    color: var(--text-color);
    font-size: 32px;
    margin-bottom: 2px;
}

h2 {
    font-family: 'medium';
    color: var(--text-color);
    font-size: 32px;
    margin-bottom: 2px;
}

p {
    font-family: 'medium';
    color: var(--text-color);
    font-size: 24px;
    margin-top: 2px;
    word-wrap: break-word;
}

a {
    color: var(--accent-light);
}

a:hover {
    color: var(--accent-dark);
}

label {
    font-family: 'medium';
    font-size: 24px;
    color: var(--text-color)
}

ul {
    text-align: left;
}

li {
    font-family: 'medium';
    color: var(--text-color);
    font-size: 24px;
}